@use 'sass:math';

@mixin aspectRatio ($ratio1, $ratio2) {
  display: block;
  position: relative;

  &:before {
    content: "";
    display: block;
    padding-bottom: math.div($ratio2, $ratio1) * 100%;
  }
}

@mixin aspectRatioContent () {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-size: cover;
  background-position: center center;
}

@mixin placeholder ($color) {
  &::-webkit-input-placeholder { color: $color; }
  &:-moz-placeholder { color: $color; }
  &::-moz-placeholder { color: $color; }
  &:-ms-input-placeholder { color: $color; }
  &::-ms-input-placeholder { color: $color; }
}

@mixin spinner1 ($widthAndHeight: 30px, $border: 6px, $backColor: $color-gray3, $frontColor: $color-midnight) {
  $time: 400ms;
  border-radius: 50%;
  position: relative;
  width: $widthAndHeight;
  height: $widthAndHeight;
  border: $border solid $backColor;
  &:after {
    content: '';
    top: -$border;
    left: -$border;
    position: absolute;
    border-radius: 50%;
    width: $widthAndHeight;
    height: $widthAndHeight;
    border: $border solid transparent;
    border-left-color: $frontColor;
    border-bottom-color: $frontColor;
    animation: spinner1 $time linear infinite;
  }

  @keyframes spinner1 {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}

@mixin hexagon ($size, $color, $border: 0) {
  width: $size;
  position: relative;
  border-left: $border;
  border-right: $border;
  height: ($size * 0.577);
  background-color: $color;
  margin: ($size * 0.288) 0;

  &:before,
  &:after {
    content: '';
    position: absolute;
    @if $border == 0 {
      left: 0;
      width: 0;
      border-left: math.div($size, 2) solid transparent;
      border-right: math.div($size, 2) solid transparent;
    } @else {
      z-index: 1;
      left: ($size * 0.129);
      width: ($size * 0.707);
      height: ($size * 0.707);
      background-color: inherit;
      transform: scaleY(0.5774) rotate(-45deg);
      -ms-transform: scaleY(0.5774) rotate(-45deg);
      -webkit-transform: scaleY(0.5774) rotate(-45deg);
    }
  }

  &:before {
    @if $border == 0 {
      bottom: 100%;
      border-bottom: ($size * 0.288) solid $color;
    } @else {
      border-top: $border;
      top: -($size * 0.353);
      border-right: $border;
    }
  }

  &:after {
    @if $border == 0 {
      width: 0;
      top: 100%;
      border-top: ($size * 0.288) solid $color;
    } @else {
      border-left: $border;
      border-bottom: $border;
      bottom: -($size * 0.353);
    }
  }
}
